body {
  height: 87vh;
}

#cassette-container, .control, #informacija {
  display: none;
}

#canvas {
  display: block;
}

.overlay {
  width: 90%;
  top: 7vh;
  left: 5%;
}

.overlay #overlay-text #schedule-header {
  font-size: 2vmax;
  margin-left: 20px;
  text-align: left;
}

.overlay #overlay-text p {
  font-size: 1.2vmax;
  margin-left: 40px;
  text-align: left;
}

.overlay #overlay-text p time {
  font-size: 1vmax;
  font-style: italic;
}

.overlay #overlay-text #schedule-main {
  margin-left: 80px;
  line-height: 40px;
}

.overlay #overlay-text #overlay-description {
  font-size: 0.8vmax;
}

.overlay hr {
  opacity: 0.2;
}

.overlay.podcasts {
  cursor: initial;
  background-color: rgba(10, 10, 10, 0.9);
}

.overlay.podcasts #podcast-description {
  padding-top: 20px;
  width: 100%;
  height: 30%;
}

.overlay.podcasts #podcast-description p {
  font-size: 30px;
}

.overlay.podcasts #podcast-main {
  width: 100%;
  height: 70%;
}

.overlay.podcasts #podcast-main #podcast-show-buttons {
  height: 10%;
  text-align: left;
  margin-left: 20px;
}

.overlay.podcasts #podcast-main #podcast-show-buttons span {
  font-size: 1.5rem;
  border: 5px solid gray;
  border-bottom: 0;
  cursor: pointer;
}

.overlay.podcasts #podcast-main #podcast-show-description {
  height: 25%;
  font-size: 1.2rem;
  text-align: left;
  padding: 20px 0 0 20px;
  border: solid gray;
  border-width: 1px 0 1px 0;
}

.overlay.podcasts #podcast-main #podcast-recordings-container {
  width: 100%;
  height: 65%;
}

.overlay.podcasts #podcast-main #podcast-recordings-container .podcast-show {
  height: 100%;
  display: none;
}

.overlay.podcasts #podcast-main #podcast-recordings-container .podcast-show.active {
  display: block;
}

.overlay.podcasts #podcast-main #podcast-recordings-container #podcast-recording {
  background-color: darkgreen;
  width: 20%;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.overlay.podcasts #podcast-main #podcast-recordings-container #podcast-recording img {
  max-width: 100%;
  height: auto;
}

.overlay.podcasts #podcast-main #podcast-recordings-container #podcast-recording div {
  background-color: peru;
}

.overlay.podcasts #podcast-main #podcast-recordings-container #podcast-recording #recording-name {
  font-size: 1.2rem;
}

.overlay.podcasts #podcast-main #podcast-recordings-container #podcast-recording #recording-length {
  font-size: 1rem;
}

.overlay.podcasts #podcast-main #podcast-recordings-container #podcast-recording #recording-date {
  font-size: 1rem;
}

.overlay.podcasts #podcast-main #podcast-recordings-container #podcast-recording.is-selected {
  background-color: darkkhaki;
}

main {
  height: 100%;
}

#radio {
  position: relative;
  display: block;
  margin-top: 10vh;
  max-width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#boombox {
  display: block;
  max-width: 100%;
  height: auto;
}

.boombox-buttons {
  position: absolute;
  display: block;
  margin-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.boombox-buttons .button {
  background-color: #6d7277;
  display: inline-block;
  margin-left: 15px;
  -webkit-box-shadow: 0px -1px 0px #4d5459, 1px 0px 0px #545b61, 1px -2px 0px #4d5459, 2px -1px 0px #545b61, 2px -3px 0px #4d5459, 3px -2px 0px #545b61, 3px -4px 0px #4d5459, 4px -3px 0px #545b61, 4px -5px 0px #4d5459, 5px -4px 0px #545b61, 5px -6px 0px #4d5459, 6px -5px 0px #545b61;
          box-shadow: 0px -1px 0px #4d5459, 1px 0px 0px #545b61, 1px -2px 0px #4d5459, 2px -1px 0px #545b61, 2px -3px 0px #4d5459, 3px -2px 0px #545b61, 3px -4px 0px #4d5459, 4px -3px 0px #545b61, 4px -5px 0px #4d5459, 5px -4px 0px #545b61, 5px -6px 0px #4d5459, 6px -5px 0px #545b61;
  overflow: hidden;
  border: 0;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.boombox-buttons .button span {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 2.6vmax;
  font-size: 2.2vmax;
  height: 100%;
  top: 50%;
}

.boombox-buttons .button:active {
  height: 4vh !important;
}

.boombox-buttons .button:hover {
  cursor: pointer;
  background-color: #61656a;
}

.boombox-buttons .active {
  background-color: #55595c;
  height: 3vh !important;
}

#HUD {
  position: absolute;
  display: block;
}

#HUD #sound-container {
  display: block;
  width: 20%;
  height: 100%;
  float: left;
}

#HUD #sound-container #sound-bar {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#880b0b), color-stop(10%, #880b0b), color-stop(10%, #999900), color-stop(40%, #999900), color-stop(40%, #314e20));
  background: linear-gradient(to bottom, #880b0b, #880b0b 10%, #999900 10%, #999900 40%, #314e20 40%);
  float: left;
  width: 10px;
  height: 100%;
}

#HUD #sound-container #sound-bar .sound-inner {
  background-color: #3c3c3c;
  width: 100%;
  height: 0%;
}

#HUD #sound-container #sound-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  color: #4e4d4d;
  width: 60%;
  height: 100%;
  text-align: center;
  font-family: 'Nova Square', cursive;
  font-size: 0.7vmax;
}

#HUD #visualize {
  background-color: #1f1f1f;
  display: block;
  width: 56%;
  height: 100%;
  float: left;
  border-radius: 20px;
}

#HUD #listeners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24%;
  height: 100%;
  float: left;
  color: #4e4d4d;
  font-family: 'Nova Square', cursive;
  font-size: 1vmax;
}

#HUD #listeners span {
  background-color: black;
  color: lightcyan;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.8vmax;
  font-family: 'Share Tech Mono', monospace;
}

#live-indicator {
  background-color: #0b0b0b;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

#live-indicator .live-indicator-blink {
  background-color: #b61414;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  opacity: .25;
}

#live-indicator .live-indicator-blink.on {
  -webkit-animation: blink-animation 7s infinite;
          animation: blink-animation 7s infinite;
}

@-webkit-keyframes blink-animation {
  0% {
    opacity: 1;
  }
  75% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  75% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

#radio-description-container {
  position: absolute;
  display: block;
  background-color: white;
}

#player {
  position: absolute;
}

#player img {
  width: 100%;
  height: auto;
}

#player #player-controls span {
  font-size: 1.5vmax;
  font-family: 'Nova Square', monospace;
}

#player #player-controls span.name.small {
  font-size: 1.3vmax;
}

#player #player-controls span.artist.small {
  font-size: .8vmax;
}

#player #player-controls .song {
  width: 100%;
}

#player #player-controls .control {
  display: none;
}

#chat-container {
  right: 0;
  width: 35vw;
}

#chat-container .chat #all-messages .message-container .name {
  font-size: 1em;
}

#chat-container .chat #all-messages .message-container .message {
  font-size: 1.1em;
}

footer {
  display: block;
  height: 3vh;
  background-color: black;
  text-align: center;
}
/*# sourceMappingURL=desktop.css.map */