*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url("../images/bakgraunds-min.jpg") no-repeat center center;
    background-size: cover;
    background-color: black;
    height: 100vmax;
    // overflow: hidden;
}

span, div, a {
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: gray;
    font-size: 0.8em;
}

// Removing from desktop
.boombox-buttons, #boombox, #HUD, footer{
    display: none;
}
#radio {
    display: block;
    height: 50vmax;
}
// --------------------

.overlay {
    background-color: rgba(10, 10, 10, 0.6);
    position: fixed;
    width: 100%;
    height: 80%;
    top: 10vmax;
    border-radius: 20px;
    z-index: 2;
    cursor: pointer;
    #overlay-text {
        position: relative;
        margin-right: 20px;
        top: 50%;
        left: 50%;
        font-size: 3vmax;
        color: white;
        text-align: center;
        transform: translate(-50%,-50%);
    }
}

#canvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main {
    height: 100vmax;
}

#cassette-container{
    position: relative;
    display: block;
    height: 20vmax;
    text-align: center;
    img {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 100%;
    }
    span {
        position: absolute;
        top: 15%;
        left: 23%;
    }
}

#player{
    display: block;
    height: 50vmax;
    margin-right: auto;
    margin-left: auto;
    color: white;
    #player-controls{
        height: 22%;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            display: block;
            margin-top: auto;
            margin-bottom: auto;
            width: 100%;
            float: left;
            text-align: center;
            font-size: 20px;
            &.artist {
                padding-top: 0;
                font-size: 15px;
            }
            &.name.small {
                font-size: 15px;
            }
            &.artist.small {
                font-size: 12px;
            }
        }
    
        .control {
            display: block;
            width: 25%;
        }
        .song {
            width: 50%;
            float: left;
        }
        .sound {
            height: 80%;
        }

        // TODO: Need to make a proper slider
        #volume-slider {
            display: block;
            appearance: slider-vertical;
            color: yellowgreen;
            height: 100%;
            background: #3f1f1f;
            outline: none;
            width: 8px;
            margin-left: auto;
            margin-right: auto;
            &::-webkit-slider-thumb{
                appearance: none;
                background: #4CAF50;
                cursor: pointer;
            }
            /* For Mozilla */
            &::-moz-range-thumb{
                background: #4CAF50;
                cursor: pointer;
            }
        }
    
        .material-icons.md-36 { font-size: 36px; }
        .material-icons.md-48 { font-size: 48px; }

        &::after{           // Don't know if this is needed but clearing float values by https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_grid2
            content: "";
            display: table;
            clear: both;
        }
    }

    img{
        position: relative;
        height: 78%;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

#informacija{
    // background-color: blue;
    display: block;
    height: 27vmax;
    overflow: auto;
    img {
        background-color: tan;
        max-width: 33%;
        height: auto;
        float: left;
        margin: 10px 10px 0 10px;
        border-radius: 20px 0 20px 0;
    }
    p{
        color: white;
        padding-top: 10px;
        text-align: center;
        font-size: .8rem;
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }
}

$chat-color: #32383d;
#chat-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    .collapse-btn {
        background-color: $chat-color;
        width: 100%;
        text-align: left;
        cursor: pointer;
        color: lightgoldenrodyellow;
        padding: 10px;
        border-radius: 10px 10px 0 0;
        border: 0;
        outline: none;
        font-family: 'Nova Square', cursive;
        &:after {   // Adding '+' on the right
            content: '\002B';
            color: black;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
        &.active::after{
            content: '\2212';
        }
        &:hover {
            background-color: darken($chat-color, 5);
        }
    }
    .chat {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-in-out;
        #all-messages {
            background-color: darken(rgba($chat-color, .9), 5) ;
            height: 60vh;
            overflow: auto;
            .message-container {
                display: block;
                padding: 20px 5px 10px 5px;
                border-bottom: 1px solid #383a3a;
                opacity: 0;
                transition: opacity .3s ease-in-out;
                .name {
                    color: lightcoral;
                    font-size: .8em;
                    box-sizing: border-box;
                    font-family: 'Nova Square', cursive;
                }
                .timestamp {
                    font-size: .6em;
                    color: dimgray;
                }
                .message {
                    font-size: .9em;
                    font-family: 'Nova Square', cursive;
                    color: lightgoldenrodyellow;
                }
                &.visible {
                    opacity: 1;
                }
                &.myself {
                    text-align: right;
                    .name, .timestamp{
                        float: right;
                    }
                    .timestamp {
                        line-height: 22px;
                    }
                    .message {
                        display: inline-block;
                    }
                }
            }
        }
        form {
            background-color: $chat-color;
            padding: 15px 0 15px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            textarea {
                resize: none;
                overflow: hidden;
                border: none;
                border-bottom: 1px solid rgba(0,0,0,.12);
                display: inline-block;
                font-size: .9em;
                font-family: 'Nova Square', cursive;
                padding: 4px 0;
                margin-left: 1%;
                width: 75%;
                background: 0;
                text-align: left;
                color: lightgoldenrodyellow;
                &::placeholder {
                    color: lightcoral;
                    line-height: 35px;  // 65px
                }
                &:focus{
                    outline: none;
                    border: 1px solid darken($chat-color, 8);
                    border-radius: 15px;
                }
            }
            button {
                display: inline-block;
                width: 24%;
                height: 40px;
                margin-left: 10px;
                font-family: 'Nova Square', cursive;
                cursor: pointer;
                background-color: lighten($chat-color, 5);
                outline: none;
                border-radius: 15px;
                border-color: $chat-color;
                color: blanchedalmond;
                transition: all .2s ease-in-out;
                &:disabled {
                    background-color: darken($chat-color, 5);
                    color: black;
                }
                &:hover:enabled{
                    background-color: darken($chat-color, 1);
                }
            }
        }
    }
}