* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("../images/bakgraunds-min.jpg") no-repeat center center;
  background-size: cover;
  background-color: black;
  height: 100vmax;
}

span, div, a {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: gray;
  font-size: 0.8em;
}

.boombox-buttons, #boombox, #HUD, footer {
  display: none;
}

#radio {
  display: block;
  height: 50vmax;
}

.overlay {
  background-color: rgba(10, 10, 10, 0.6);
  position: fixed;
  width: 100%;
  height: 80%;
  top: 10vmax;
  border-radius: 20px;
  z-index: 2;
  cursor: pointer;
}

.overlay #overlay-text {
  position: relative;
  margin-right: 20px;
  top: 50%;
  left: 50%;
  font-size: 3vmax;
  color: white;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main {
  height: 100vmax;
}

#cassette-container {
  position: relative;
  display: block;
  height: 20vmax;
  text-align: center;
}

#cassette-container img {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 100%;
}

#cassette-container span {
  position: absolute;
  top: 15%;
  left: 23%;
}

#player {
  display: block;
  height: 50vmax;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

#player #player-controls {
  height: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player #player-controls span {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  float: left;
  text-align: center;
  font-size: 20px;
}

#player #player-controls span.artist {
  padding-top: 0;
  font-size: 15px;
}

#player #player-controls span.name.small {
  font-size: 15px;
}

#player #player-controls span.artist.small {
  font-size: 12px;
}

#player #player-controls .control {
  display: block;
  width: 25%;
}

#player #player-controls .song {
  width: 50%;
  float: left;
}

#player #player-controls .sound {
  height: 80%;
}

#player #player-controls #volume-slider {
  display: block;
  -webkit-appearance: slider-vertical;
     -moz-appearance: slider-vertical;
          appearance: slider-vertical;
  color: yellowgreen;
  height: 100%;
  background: #3f1f1f;
  outline: none;
  width: 8px;
  margin-left: auto;
  margin-right: auto;
  /* For Mozilla */
}

#player #player-controls #volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background: #4CAF50;
  cursor: pointer;
}

#player #player-controls #volume-slider::-moz-range-thumb {
  background: #4CAF50;
  cursor: pointer;
}

#player #player-controls .material-icons.md-36 {
  font-size: 36px;
}

#player #player-controls .material-icons.md-48 {
  font-size: 48px;
}

#player #player-controls::after {
  content: "";
  display: table;
  clear: both;
}

#player img {
  position: relative;
  height: 78%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#informacija {
  display: block;
  height: 27vmax;
  overflow: auto;
}

#informacija img {
  background-color: tan;
  max-width: 33%;
  height: auto;
  float: left;
  margin: 10px 10px 0 10px;
  border-radius: 20px 0 20px 0;
}

#informacija p {
  color: white;
  padding-top: 10px;
  text-align: center;
  font-size: .8rem;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#chat-container {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#chat-container .collapse-btn {
  background-color: #32383d;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: lightgoldenrodyellow;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  border: 0;
  outline: none;
  font-family: 'Nova Square', cursive;
}

#chat-container .collapse-btn:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

#chat-container .collapse-btn.active::after {
  content: '\2212';
}

#chat-container .collapse-btn:hover {
  background-color: #272b2f;
}

#chat-container .chat {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

#chat-container .chat #all-messages {
  background-color: rgba(39, 43, 47, 0.9);
  height: 60vh;
  overflow: auto;
}

#chat-container .chat #all-messages .message-container {
  display: block;
  padding: 20px 5px 10px 5px;
  border-bottom: 1px solid #383a3a;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

#chat-container .chat #all-messages .message-container .name {
  color: lightcoral;
  font-size: .8em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nova Square', cursive;
}

#chat-container .chat #all-messages .message-container .timestamp {
  font-size: .6em;
  color: dimgray;
}

#chat-container .chat #all-messages .message-container .message {
  font-size: .9em;
  font-family: 'Nova Square', cursive;
  color: lightgoldenrodyellow;
}

#chat-container .chat #all-messages .message-container.visible {
  opacity: 1;
}

#chat-container .chat #all-messages .message-container.myself {
  text-align: right;
}

#chat-container .chat #all-messages .message-container.myself .name, #chat-container .chat #all-messages .message-container.myself .timestamp {
  float: right;
}

#chat-container .chat #all-messages .message-container.myself .timestamp {
  line-height: 22px;
}

#chat-container .chat #all-messages .message-container.myself .message {
  display: inline-block;
}

#chat-container .chat form {
  background-color: #32383d;
  padding: 15px 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chat-container .chat form textarea {
  resize: none;
  overflow: hidden;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: inline-block;
  font-size: .9em;
  font-family: 'Nova Square', cursive;
  padding: 4px 0;
  margin-left: 1%;
  width: 75%;
  background: 0;
  text-align: left;
  color: lightgoldenrodyellow;
}

#chat-container .chat form textarea::-webkit-input-placeholder {
  color: lightcoral;
  line-height: 35px;
}

#chat-container .chat form textarea:-ms-input-placeholder {
  color: lightcoral;
  line-height: 35px;
}

#chat-container .chat form textarea::-ms-input-placeholder {
  color: lightcoral;
  line-height: 35px;
}

#chat-container .chat form textarea::placeholder {
  color: lightcoral;
  line-height: 35px;
}

#chat-container .chat form textarea:focus {
  outline: none;
  border: 1px solid #202327;
  border-radius: 15px;
}

#chat-container .chat form button {
  display: inline-block;
  width: 24%;
  height: 40px;
  margin-left: 10px;
  font-family: 'Nova Square', cursive;
  cursor: pointer;
  background-color: #3d454b;
  outline: none;
  border-radius: 15px;
  border-color: #32383d;
  color: blanchedalmond;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#chat-container .chat form button:disabled {
  background-color: #272b2f;
  color: black;
}

#chat-container .chat form button:hover:enabled {
  background-color: #30353a;
}

@media (max-width: 1025px) and (orientation: landscape) {
  html {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    /* Rotate the content container */
    -webkit-transform-origin: left top;
            transform-origin: left top;
    width: 100vh;
    /* Set content width to viewport height */
    height: 100vw;
    /* Set content height to viewport width */
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
  }
}

@media (min-width: 1025px) {
  body {
    height: 87vh;
  }
  #cassette-container, .control, #informacija {
    display: none;
  }
  #canvas {
    display: block;
  }
  .overlay {
    width: 90%;
    top: 7vh;
    left: 5%;
  }
  .overlay #overlay-text #schedule-header {
    font-size: 2vmax;
    margin-left: 20px;
    text-align: left;
  }
  .overlay #overlay-text p {
    font-size: 1.2vmax;
    margin-left: 40px;
    text-align: left;
  }
  .overlay #overlay-text p time {
    font-size: 1vmax;
    font-style: italic;
  }
  .overlay #overlay-text #schedule-main {
    margin-left: 80px;
    line-height: 40px;
  }
  .overlay #overlay-text #overlay-description {
    font-size: 0.8vmax;
  }
  .overlay hr {
    opacity: 0.2;
  }
  main {
    height: 100%;
  }
  #radio {
    position: relative;
    display: block;
    margin-top: 10vh;
    max-width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #boombox {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .boombox-buttons {
    position: absolute;
    display: block;
    margin-left: 10px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .boombox-buttons .button {
    background-color: #6d7277;
    display: inline-block;
    margin-left: 15px;
    -webkit-box-shadow: 0px -1px 0px #4d5459, 1px 0px 0px #545b61, 1px -2px 0px #4d5459, 2px -1px 0px #545b61, 2px -3px 0px #4d5459, 3px -2px 0px #545b61, 3px -4px 0px #4d5459, 4px -3px 0px #545b61, 4px -5px 0px #4d5459, 5px -4px 0px #545b61, 5px -6px 0px #4d5459, 6px -5px 0px #545b61;
            box-shadow: 0px -1px 0px #4d5459, 1px 0px 0px #545b61, 1px -2px 0px #4d5459, 2px -1px 0px #545b61, 2px -3px 0px #4d5459, 3px -2px 0px #545b61, 3px -4px 0px #4d5459, 4px -3px 0px #545b61, 4px -5px 0px #4d5459, 5px -4px 0px #545b61, 5px -6px 0px #4d5459, 6px -5px 0px #545b61;
    overflow: hidden;
    border: 0;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
  }
  .boombox-buttons .button span {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 2.6vmax;
    font-size: 2.2vmax;
    height: 100%;
    top: 50%;
  }
  .boombox-buttons .button:active {
    height: 4vh !important;
  }
  .boombox-buttons .button:hover {
    cursor: pointer;
    background-color: #61656a;
  }
  .boombox-buttons .active {
    background-color: #55595c;
    height: 3vh !important;
  }
  #HUD {
    position: absolute;
    display: block;
  }
  #HUD #sound-container {
    display: block;
    width: 20%;
    height: 100%;
    float: left;
  }
  #HUD #sound-container #sound-bar {
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(#880b0b), color-stop(10%, #880b0b), color-stop(10%, #999900), color-stop(40%, #999900), color-stop(40%, #314e20));
    background: linear-gradient(to bottom, #880b0b, #880b0b 10%, #999900 10%, #999900 40%, #314e20 40%);
    float: left;
    width: 10px;
    height: 100%;
  }
  #HUD #sound-container #sound-bar .sound-inner {
    background-color: #3c3c3c;
    width: 100%;
    height: 0%;
  }
  #HUD #sound-container #sound-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    float: left;
    color: #4e4d4d;
    width: 60%;
    height: 100%;
    text-align: center;
    font-family: 'Nova Square', cursive;
    font-size: 0.7vmax;
  }
  #HUD #visualize {
    background-color: #1f1f1f;
    display: block;
    width: 56%;
    height: 100%;
    float: left;
    border-radius: 20px;
  }
  #HUD #listeners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 24%;
    height: 100%;
    float: left;
    color: #4e4d4d;
    font-family: 'Nova Square', cursive;
    font-size: 1vmax;
  }
  #HUD #listeners span {
    background-color: black;
    color: lightcyan;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.8vmax;
    font-family: 'Share Tech Mono', monospace;
  }
  #player {
    position: absolute;
  }
  #player img {
    width: 100%;
    height: auto;
  }
  #player #player-controls span {
    font-size: 1.5vmax;
    font-family: 'Nova Square', monospace;
  }
  #player #player-controls span.name.small {
    font-size: 1.3vmax;
  }
  #player #player-controls span.artist.small {
    font-size: .8vmax;
  }
  #player #player-controls .song {
    width: 100%;
  }
  #player #player-controls .control {
    display: none;
  }
  #chat-container {
    right: 0;
    width: 35vw;
  }
  #chat-container .chat #all-messages .message-container .name {
    font-size: 1em;
  }
  #chat-container .chat #all-messages .message-container .message {
    font-size: 1.1em;
  }
  footer {
    display: block;
    height: 3vh;
    background-color: black;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */