$border-size: 0.1rem; // 0.125rem
$duration: 250ms;
$ease: cubic-bezier(0.215, 0.61, 0.355, 1);
$font-family: monospace;
$color-primary: rgb(50, 50, 50);  // white
$color-secondary: lightgoldenrodyellow;    // black
$color-active: rgb(39, 39, 39); // 1e5f74
$color-tertiary: lightgoldenrodyellow;
$shadow: rgba(0, 0, 0, 0.1);
$space:1rem;

#podcast-show-buttons {
    display: flex;
    width: 100%;
    box-shadow: $shadow 4px 4px;
    user-select: none;
    button {
        flex-grow: 1;
        cursor: pointer;
        position: relative;
        padding: 
                $space / 1.125
                0
                $space;
        border: $border-size solid #525252;   //black
        color: $color-secondary;
        background-color: $color-primary;
        font-size: .9rem;      // 1.5rem 
        font-family: $font-family;
        text-transform: lowercase;
        text-shadow: $shadow 2px 2px;
        transition: flex-grow $duration $ease;
        @media (min-width: 1025px) {
            font-size: 1.5rem;
            padding:
                $space / 1.125
                $space
                $space;
        }
        &:hover, &:focus{
            flex-grow: 2;
            color: lighten($color-secondary, 4);
            outline: none;
            text-shadow: none;
            // background-color: $color-secondary;
        }
        &:focus{
            outline: $border-size dashed $color-primary;
            outline-offset: $border-size * -3;
        }
        // &:focus:not(:hover){    // After clicked
        //     flex-grow: 2;   
        //     color: $color-secondary;
        //     background-color: $color-primary;
        //     background-color: royalblue;
        //     outline-color: $color-tertiary;
        // }
        &:active{   // while held down
            transform: translateY($border-size);
        }
        &.active{
            flex-grow: 4;
            color: $color-secondary;
            background-color: $color-active;
            outline: $border-size dashed $color-tertiary;
            outline-offset: $border-size * -3;
            @media (min-width: 1025px){
                flex-grow: 2;
                outline: $border-size * 1.3 dashed $color-tertiary;
            }
        }
    }
    button + button{
        border-left: $border-size solid black;
        margin-left: $border-size * -1;
    }
}